@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/Georgia\ \(1\).ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 1280px;
    font-family: 'Georgia';
}

.header-block {
    margin-top: 0;
    width: 1280px;
}

.navigation {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 40px;
}

.logo-side h1 {
    letter-spacing: 0.1em;
    font-family: 'Georgia', sans-serif;
    font-style: normal;
}

.logo-side h1 a {
    color: #545454;
    text-decoration: none;
}

.logo-side h4 {
    letter-spacing: 0.02em;
    color: #292929;
    font-size: 13px;
    margin-top: -0.7rem;
}

.navigation ul {
    margin-top: 46px;
    padding: 0;
    display: flex;
}

.navigation ul li {
    list-style: none;
    padding: 0.1rem 0.7rem;
    font-family: 'Georgia', sans-serif;
}

.navigation ul a {
    text-decoration: none;
    display: block;
    padding: 0.2rem;
    color: #545454;
    transition: 0.5s;
}

.navigation ul a:hover {
    color: #ac9a9a;
    transform: scale(1.1);
}


/* create navigation responsive(768px) */

@media all and (max-width: 768px) {
    .navigation ul {
        margin-right: 220px;
    }
    .logo-side {
        margin-top: 20px;
        margin-left: 30px;
    }
}

.hamburger-menu {
    position: absolute;
    top: 49px;
    right: 49px;
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

.heads {
    display: flex;
    justify-content: center;
    margin-left: 150px;
}

.heading1 {
    color: #545454;
    letter-spacing: 0.1em;
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-size: 25px;
    margin-left: -5%;
    margin-top: 10%;
}

.heading2 {
    color: #545454;
    letter-spacing: 0.1em;
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-size: 25px;
    margin-top: 15%;
    margin-left: -20%;
}


/* create navigation responsive(320px) */

@media all and (max-width: 320px) {
    .hamburger-menu {
        display: flex;
        right: -450px;
    }
    .navigation ul {
        display: none;
    }
    .navigation {
        margin-left: 500px;
    }
}

.pets {
    margin-top: 0;
    background-color: #F6F6F6;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 435px);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    justify-content: center;
    margin-top: 135px;
}

.grid-cards div {
    background-color: #FAFAFA;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-cards img {
    width: 270px;
    height: 270px;
}

.grid-cards div h4 {
    letter-spacing: 0.06em;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.learnButton {
    height: 52px;
    width: 187px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;
    border: 2px solid #F1CDB3;
    cursor: pointer;
    background-color: white;
}

.learnButton:hover {
    background-color: #F1CDB3;
    border: none;
}

.learnButton p {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50%;
    letter-spacing: 0.06em;
    color: #292929;
}

.grid-cards div:hover {
    transform: scale(1.1);
}


/* create animals cards responsive(768px) */

@media all and (max-width: 768px) {
    .grid-cards {
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(3, 435px);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
    }
    .seventh {
        display: none !important;
    }
    .eighth {
        display: none !important;
    }
}


/* create animals cards responsive(320px) */

@media all and (max-width: 320px) {
    .grid-cards {
        grid-template-columns: repeat(1, 270px);
        grid-template-rows: repeat(3, 435px);
    }
    .fourth {
        display: none !important;
    }
    .fifth {
        display: none !important;
    }
    .sixth {
        display: none !important;
    }
}

.numbers-nav {
    margin: auto;
    width: 340px;
    height: 52px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.numbers-nav button {
    width: 52px;
    height: 52px;
    border-radius: 100px;
}

.numbers-nav button p {
    font-size: 0.9rem;
}

.double-left {
    border: 2px solid #CDCDCD;
    background-color: rgba(250, 250, 250, 1);
}

.double-left p {
    color: #CDCDCD;
    font-family: 'Georgia', sans-serif;
}

.left {
    border: 2px solid #CDCDCD;
    font-family: 'Georgia', sans-serif;
    background-color: rgba(250, 250, 250, 1);
}

.one {
    background-color: #F1CDB3;
    border-style: none;
}

.one p {
    font-family: 'Georgia', sans-serif;
}

.right {
    border: 2px solid #F1CDB3;
    background-color: white;
}

.right p {
    font-family: 'Georgia', sans-serif;
}

.right:hover {
    background-color: #f3e8e1;
    cursor: pointer;
}

.double-right {
    border: 2px solid #F1CDB3;
    background-color: white;
}

.double-right p {
    font-family: 'Georgia', sans-serif;
}

.double-right:hover {
    background-color: #f3e8e1;
    cursor: pointer;
}

.footer {
    width: 1280px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-image: url(../../assets/images/footer-gradient-background.png);
    margin-top: 100px;
}

.contacts {
    /* width: 278px;
    height: 234px; */
    margin-left: 40px;
}

.contacts h3 {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.contacts h4 {
    margin-right: 20px;
}

.mail-icon {
    color: #F1CDB3;
    cursor: pointer;
    transition: 0.5s;
}

.mail-icon:hover {
    transform: scale(1.3);
}

.shelter-mail {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.mail-contacts1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-contacts2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-icon {
    width: 40px;
    height: 32px;
    color: #F1CDB3;
    cursor: pointer;
    transition: 0.5s;
}

.phone-icon:hover {
    transform: scale(1.3);
}

.phone-number {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.locations {
    margin-top: -15px;
}

.locations h3 {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.pin-icon1 {
    color: #F1CDB3;
    cursor: pointer;
    transition: 0.5s;
}

.pin-icon1:hover {
    transform: scale(1.3);
}

.central-street {
    width: 260px;
    height: 46px;
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.pin-icon2 {
    width: 22px;
    height: 32px;
    color: #F1CDB3;
    cursor: pointer;
    transition: 0.5s;
}

.pin-icon2:hover {
    transform: scale(1.3);
}

.park-number {
    font-family: 'Georgia', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-right: 50px;
}

.central1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.central2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locations h4 {
    margin-left: 30px;
}

.foot-puppy {
    cursor: pointer;
    transition: 0.5s;
    margin-top: 40px;
}

.foot-puppy:hover {
    transform: scale(1.1);
}


/* create footer block responsive(768px) */

@media all and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
    .foot-puppy {
        order: 2;
        width: 300px;
        height: 310px;
    }
    .contacts h4 {
        margin-right: 970px;
    }
    .locations {
        margin-top: -315px;
        margin-left: 500px;
    }
    .locations h3 {
        margin-left: 50px;
    }
    .central-street {
        margin-right: 500px;
    }
    .park-number {
        margin-right: 500px;
    }
    .foot-puppy {
        margin-left: 234px;
        margin-right: 234px;
    }
}

@media all and (max-width: 320px) {
    .numbers-nav {
        justify-content: space-around;
    }
    .footer {
        flex-direction: column;
    }
}